
.form-header{
    position: relative;
    min-height: 70px;
    background: #9e9e9e1c;
    position: relative;
}
#infoForm{
    position: absolute;
    margin-top: 15px;
}
.query-condition{
    display: inline-block;
    margin-left: 2%;
}
.query-condition>label{
    width: 35px;
}
.query-condition>div{
    margin-left: 65px;
}